#container {
    background-color: #f1f1f1;
    max-width: 1024px;
    margin: auto;
}

.header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    border: solid black 2px
    
}

#name {
    margin-top: 0px;
}

.topnav {
    display: flex;
    background-color: #333;
    justify-content: space-between;
    flex: 1 ;
    align-items: center;
   
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    

  }
    .topnav a:hover {
  background-color: #ddd;
  color: black;
}
.row {
    display: flex;
  }
  
  .column {
    width: 33.33%;
    background-color: #ddd;
    flex: 1 ;

  }
  
  #column1 {
    width: 25%;
  }
  
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }

     .column {
      width: 100%;
    }
  }

  .row2 {
    display: flex;
    text-align: center;
  }
  
  .row2 div{
    flex:1;
  }
  
  .row3 {
    text-align: center;
  }
  
  .footer{
    background-color: #F1F1F1;
    text-align: center;
  }
  
  
  


