.grid-container {
    display: grid;
    grid-template-areas:
        'menu main main main right right'
        'menu footer footer footer footer footer';
}

.item2 {
    grid-area: menu;
    padding: 5px;
}

h5{
    font-size: 20px;
}

.item3 {
    grid-area: main;
    padding: 5px;
}

.item4 {
    grid-area: right;
    padding: 5px;
}

.item5 {
    grid-area: footer;
    padding: 15px 5px 5px 5px;
}

.topnav {
    display: flex;
    align-items: center;
}

.topnav a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 14px 26px;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 10px;
}

.top {
    background-color: #D9D9D9;
}

.tittle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.tittle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.mainpage {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 50px;
}

.mainpage2 {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 50px;
}

.mainpage3 {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 50px;
}

.mainpage4 {
    position: relative;
    text-align: center;
    color: white;
}

.mainpage4>img {
    width: 100%;
}

.button>a {
    background-size: cover;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: 3px solid white;
    width: 100px;
    float: left;
    margin: 2vw 2vw 2vw 2vw;
}

.button1>a {
    background-size: cover;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: 3px solid white;
    width: 100px;
    padding-top: 10px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 30px;
}

.button2>a {
    background-size: cover;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: 3px solid white;
    width: 100px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.buttonrow {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button3>a {
    background-size: cover;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: 3px solid white;
    width: 100px;
    float: right;
    margin: 2vw 2vw 2vw 2vw;
}

.button4>a {
    background-size: cover;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: 3px solid white;
    margin-top: 80px;
}

.men_mainpage {
    margin-top: 30px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

h4 {
    font-size: 30px;
}

.text1 {
    margin-left: 30px;
}

.women_mainpage {
    margin-top: 30px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.kid_mainpage {
    margin-top: 30px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.container {
    background-color: #F5F5F5;
    padding-bottom: 30px;
    padding-top: 5px;
}

.text4 {
    justify-content: center;
    padding-top: 60px;
    padding-left: 130px;
    width: 50%;
}

h6 {
    font-size: 30px;
}

p2 {
    font-size: 17px;
}

.content {
    display: grid;
    grid-template-areas:
        'news news news news'
        'footer footer footer footer'
    ;
    padding-top: 40px;
}

.content1 {
    display: grid;
    grid-template-areas:
        'news news news news'
        'footer footer footer footer'
    ;
    padding-top: 20px;
    padding-bottom: 30px;

}

.products_container {
    display: flex;
}

.products_img {
    display: flex;
    flex-direction: column;
    width: 50%;


}

.more_items_mainpage {
    display: flex;
}

.more_items_img {
    display: flex;
    justify-content: center;
    gap: 2%;
    padding-top: 50px;
}

h7 {
    font-size: 40px;
    padding-left: 50px;
    padding-top: 50px;
}

.items_container {
    background-color: #F5F5F5;
    padding-top: 30px;
    padding-bottom: 60px;
}

.icon_container {
    display: flex;
}

.icon {
    margin-left: 210px;
}

.footer {
    display: flex;
    background-color: #1E1E1E;
    padding: 100px;
    color: #D9D9D9;
    margin-top: 100px;

}

.footer5 {
    display: flex;
    background-color: #1E1E1E;
    padding: 100px;
    color: #D9D9D9;
    margin-top: 200px;

}

.footerend {
    margin-left: 50px;
    margin-top: 70px;

}

.footerend1 {
    margin-left: 100px;

}

.footerend2 {
    margin-left: 60px;
}

.footerend1 a{
    text-decoration: none;
    color: #F5F5F5;
}

.footerend a{
    text-decoration: none;
    color: #F5F5F5;
}

.footerend3 a{
    text-decoration: none;
    color: #F5F5F5;
}

.footerend2 a{
    text-decoration: none;
    color: #F5F5F5;
}

.footerend3 {
    margin-left: 10%;

}

h8 {
    font-size: 20px;
}

body {
    max-width: 1440px;
    margin: auto;

}


p3 {
    font-size: 30px;
}



.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 1480px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            'menu menu menu menu menu menu'
            'main main main right right right'
            'footer footer footer footer footer footer';

    }

}

@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        cursor: pointer;
        float: right;
        display: block;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.featured {
    display: flex;
    justify-content: space-around;
}

.casual {
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.men_mainpage2 {
    display: flex;
    justify-content: space-around;

}

.kids_collection {
    background: url(../img/kids\ collection\ img\ 1.jpg);
    background-size: cover;
    padding: 100px;
    display: flex;
    background-repeat: no-repeat;
    font-size: 20px;
    margin: auto;
    justify-content: center;

}

.kids_text {
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 40px;
}

.button4 {
    margin-top: 70px;
}

.men_collection {
    background: url(../img/kids\ collection\ img\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    margin: auto;
    padding-bottom: 10%;
    padding-top: 10%;
}



.men_text {
    color: #f1f1f1;
    text-align: center;

}

.text1_about {
    text-align: center;
    color: #FFFFFF;
}

.about_us {
    background-color: gray;
}



.text_sales {
    display: grid;
    background-color: white;
    margin-top: 50px;
    margin-right: 10%;
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgb(69, 69, 69);

}

.sales_img {
    margin: auto;
}

.text_phone {
    display: flex;
    justify-content: center;
}


.text_phone_column p {
    padding: 10px;
    margin: 0px;
}

.text_meet {
    display: grid;
    background-color: white;
    text-align: center;
    margin-top: 50px;
    margin-right: 10%;
    box-shadow: 10px 10px 10px 10px rgb(69, 69, 69);

}

.last_container {
    display: flex;
    justify-content: center;
}

.text_secure {
    grid-area: header1;
    background-color: #FFA92E;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.text_great {
    grid-area: header2;
    background-color: #FFFFFF;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.text_target {
    grid-area: header3;
    display: grid;
    background-color: #FFFFFF;
    padding: auto;
}

.text_target h4 {
    margin-left: 10%;
}

.img_target {
    display: flex;
    justify-content: center;
}

.text_No {
    grid-area: header4;
    background-color: #D9D9D9;
    padding-left: 10%;
    padding-top: 5%;

}

.text_good {
    grid-area: header5;
    background-color: #FFA92E;
    padding-left: 10%;
    padding-top: 5%;

}

.about_us {
    display: grid;
    grid-template-areas:
        'top1 top1 top1 top1 top1 top1'
        'header1 header1 header1 header2 header2 header2'
        'header3 header4 header4 header4 header4 header4'
        'header3 header5 header5 header5 header5 header5';
    gap: 20px;
    padding: 50px;

}

.text1_about {
    grid-area: top1;
    padding-top: -2%;
}



.last_page {
    background-image: url(../img/contact\ us\ background\ img\ .jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}

.text_contact {
    text-align: center;
    padding-top: 50px;
    color: #f1f1f1;
}

.text_contact h8 {
    font-size: 50px;
}

h9 {
    font-size: 20px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 850px) {
    .grid-container {
        display: block;
        grid-template-areas:
            'menu'
            'menu footer footer footer footer footer';
    }
}

@media screen and (max-width: 1200px) {
    .grid-container {
        display: block;
    }

    .grid-container img {
        width: 350px;
    }



    .button>a {
        width: 50px;
    }

    .button3>a {
        width: 50px;
    }

    .button1 {
        width: 206px;
        margin-left: 20px;
        text-align: center;
    }

    .buttonrow {
        width: 100%;
    }

    

    p2 {
        font-size: 17px;
    }

    .tittle {
        width: 290px;
    }

    .tittle h2 {
        font-size: 30px;
    }

    .mainpage4 img {
        height: 350px;
    }

    .men_mainpage {
        display: block;
        text-align: center;
    }


    .text1 {
        text-align: center;
    }

    .icon_container {
        justify-content: space-around;
        margin-left: 40px;
    }

    .icon {
        margin-left: 0pt;
    }

    .women_mainpage {
        display: block;
        text-align: center;
    }

    .kid_mainpage {
        display: block;
        text-align: center;
    }

    .products_container {
        display: block;
    }

    .products_img {
        width: 100%;
    }

    .content {
        display: block;
        margin: auto;
    }

    .content1 {
        display: block;
        margin: auto;
    }

    .text4 {
        width: 100%;
        display: block;
        text-align: center;
        margin-left: -130px;
    }

    .more_items_mainpage {
        display: block;
        text-align: center;
    }

    .more_items_img {
        display: block;
        text-align: center;
    }

    .footer {
        display: block;
    }

    .footer5 {
        display: block;
    }

    .footerend {
        display: block;
        text-align: center;
        margin-bottom: 70px;
        margin-left: 40px
    }

    .footerend1 {
        display: block;
        text-align: center;
        margin-bottom: 50px;
        margin-left: 40px;
    }

    .footerend2 {
        display: block;
        text-align: center;
        margin-bottom: 50px;
        margin-left: 40px;
    }

    .footerend3 {
        display: block;
        text-align: center;
        margin-left: 40px;
    }

    .kid_collection {
        display: block;
    }

    .kids_text {
        display: block;
    }
}



@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .content {
        margin: auto;
    }

    .about_us {
        display: grid;
        grid-template-areas:
            'top1'
            'header1'
            'header2'
            'header3'
            'header4'
            'header5';
        gap: 20px;
        padding: 50px;
    }

    .last_container {
        margin-left: 10%;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}