.grid-container {
    display: grid;
    grid-template-areas:
        'menu main main main right right'
        'menu footer footer footer footer footer';
    padding: 10px;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.topnav {
    display: flex;
    align-items: center;
}

.topnav a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 14px 26px;
    font-size: 20px;
}

.header {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 10px;
}

.top {
    background-color: #D9D9D9;
}

.tittle {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.tittle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainpage {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 50px;
}

.mainpage2 {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 50px;
}

.mainpage3 {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 50px;
}

.mainpage4 {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 10px;
}

.mainpage4>img {
    width: 95%;
}

.button>a {
    background-size: cover;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: 3px solid white;
    width: 100px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.button1>a {
    background-size: cover;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: 3px solid white;
    width: 100px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 30px;
}

.button2>a {
    background-size: cover;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: 3px solid white;
    width: 100px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.button3>a {
    background-size: cover;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: 3px solid white;
    width: 100px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.button4>a {
    background-size: cover;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: 3px solid white;
    margin-top: 80px;
}

.men_mainpage {
    margin-top: 30px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

h4 {
    font-size: 30px;
}

.text1 {
    margin-left: 40px;
}

.women_mainpage {
    margin-top: 30px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.kid_mainpage {
    margin-top: 30px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.container {
    background-color: #F5F5F5;
    padding-bottom: 30px;
}

.text4 {
    justify-content: center;
    padding-top: 60px;
    padding-left: 130px;
}

h6 {
    font-size: 30px;
}

p2 {
    font-size: 20px;
}

.content {
    display: grid;
    grid-template-areas:
        'news news news news'
        'footer footer footer footer'
    ;
    gap: 5%;
    padding-top: 40px;
}

.content1 {
    display: grid;
    grid-template-areas:
        'news news news news'
        'footer footer footer footer'
    ;
    gap: 5%;
    padding-top: 20px;
    padding-bottom: 30px;

}

.products_container {
    display: flex;
}

.products_img {
    margin-left: 280px;
    gap: 10%;

}

.more_items_mainpage {
    display: flex;
}

.more_items_img {
    display: flex;
    justify-content: center;
    gap: 2%;
    padding-top: 50px;
}

h7 {
    font-size: 40px;
    padding-left: 50px;
    padding-top: 50px;
}

.items_container {
    background-color: #F5F5F5;
    padding-top: 30px;
    padding-bottom: 60px;
}

.icon_container {
    display: flex;
}

.icon {
    margin-left: 210px;
}

.footer {
    display: flex;
    background-color: #1E1E1E;
    padding: 100px;
    color: #D9D9D9;
    margin-top: 60px;

}

.footerend {
    margin-left: 50px;

}

.footerend1 {
    margin-left: 100px;

}

.footerend2 {
    margin-left: 150px;

}

.footerend3 {
    margin-left: 200px;

}

h8 {
    font-size: 20px;
}

body {
    max-width: 1440px;
    margin: auto;

}






.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        cursor: pointer;
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 850px) {
    .grid-container {
        display: block;
    }

    .grid-container img {
        width: 350px;
    }

    .button1 {
        width: 206px;
    }

    .button {
        margin-left: 50px;
    }

    .button1 {
        margin-left: 40px;
    }

    .button3 {
        margin-right: 35px;
    }

   p2{
    font-size: 17px;
   }

    .tittle {
        width: 290px;
        margin-left: 20px;
    }

    .tittle h2 {
        font-size: 30px;
    }

    .mainpage4 img {
        height: 350px;
    }

    .men_mainpage {
        display: block;
        text-align: center;
    }


    .text1 {
        text-align: center;
    }

    .icon_container {
        justify-content: space-around;
        margin-left: 40px;
    }

    .icon {
        margin-left: 0pt;
    }

    .women_mainpage {
        display: block;
        text-align: center;
    }

    .kid_mainpage {
        display: block;
        text-align: center;
    }

    .products_container {
        display: block;
    }

    .products_img {
        margin-left: 250px;
        gap: 10%;
    }

    .content {
        display: block;
        margin-left: -150px;
    }

    .content1 {
        display: block;
        margin-left: -150px;
    }

    .text4 {
        display: block;
        text-align: center;
        margin-left: -150px;
    }

    .more_items_mainpage {
        display: block;
        text-align: center;
    }

    .more_items_img {
        display: block;
        text-align: center;
    }

    .footer {
        display: block;
    }

    .footerend {
        display: block;
        text-align: center;
        margin-bottom: 70px;
        margin-left: 40px
    }

    .footerend1 {
        display: block;
        text-align: center;
        margin-bottom: 50px;
        margin-left: 40px;
    }

    .footerend2 {
        display: block;
        text-align: center;
        margin-bottom: 50px;
        margin-left: 40px;
    }

    .footerend3 {
        display: block;
        text-align: center;
        margin-left: 40px;
    }

    .kid_collection{
        display: block;
    }

    .kids_text{
        display: block;
    }

   
    
   
}

.featured{
    display: flex;
    justify-content: space-around;
}

.casual{
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.men_mainpage2 {
    display: flex;
    justify-content: space-around;

}

.kids_collection {
    background: url(../img/kids\ collection\ img\ 1.jpg);
    background-size: cover;
    padding: 100px ;
    display: flex;
    background-repeat: no-repeat;
    font-size: 20px;
    margin: auto;
    justify-content: center;

}

.kids_text {
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 40px;
}

.button4{
    margin-top: 70px;
}

.men_collection {
    background: url(../img/kids\ collection\ img\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    margin: auto;
    padding-bottom: 10%;
    padding-top: 10%;
}



.men_text{
    color: #f1f1f1;
    text-align: center;
    
}

