#image1 {
  background-image: url(../img/background.png);
  background-attachment: fixed;
  background-size: contain;
  margin: 10px;
  padding: 20px;
  border: solid blue 15px;

}

#image2 {
  background-image: url(../img/background2.jpg);
  background-size: contain;
  background-repeat: repeat-x;
  margin: 10px;
  padding: 20px;
  border: solid blue 15px;
}