.columns-11  {
    display: flex;
}

input[type=submit] {
    width: 50%;
    background-color: #E9E9E9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #1c1c1c;
  }

  input[type=email], select {
    width: 100%;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .header-wrapper{
    padding-top: 30px;
  }

  .header-paragraph{
    padding: 10px;
    width: 400px;
    text-align: justify;
  }

  .container-lg{
    font-family: 'Spectral', serif;
    justify-content: center;

  }

  .columns-11{
    justify-content: center;
  }

  
   .mb-3 {
    
        width: 100%;
        margin-bottom: 0;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    
    }

    #container {
      background: #F0F0F0;
  }
  
  .head_of_header {
      display: flex;
      justify-content: space-between;
      margin: 0px 10px;
      padding-top: 10px;
  }
  
  .head_of_header p {
      margin: 0px;
      font-size: 19px;
      font-family: 'Spectral', serif;
      font-weight: 400;
  }
  
  .column_of_header {
      border-top: 3px solid black ;
      border-bottom: 3px solid black ;
      margin: 4px 10px 15px 10px;
  }
  
  .title_of_header {
      border-top: 15px solid black ;
      border-bottom: 15px solid black ;
      margin: 10px 0px;
      display: flex;
      justify-content: center;
  }
  
  .title_of_header h1 {
      margin: 25px;
      font-family: 'Spectral', serif;
      font-weight: 700;
  }
  
  .header_menu {
      border-bottom: 3px solid black ;
      display: flex;
      justify-content: space-between;
      margin: 10px 10px 10px 10px;
  }
  
  .header_menu a {
      text-decoration: none;  
      color: black;
      font-size: 19px;
      font-family: 'Spectral', serif;
      font-weight: 400;
      margin-bottom: 10px;
  }
  
  .baricon {
      display: none;
  }
  
  .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: rgb(230, 230, 230);
      background-color: rgba(230, 230, 230, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
  }
  
  .closebtn {
      position: absolute;
      top: 30px;
      left: 50px;
  }
  
  .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      padding: 20px 0px;
      transition: 0.3s;
  }
  
  .overlay-content {
      position: relative;
      top: 15%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
  }

  .footer {
    margin: 10px;
    border-top: 15px solid black ;
}

.head_of_footer {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid black ;
    margin-top: 10px;
}

.head_of_footer p{ 
    font-family: 'Spectral', serif;
    font-weight: 400; 
    font-size: 19px;
    margin-bottom: 0px;
}

.head_of_footer a {
    text-decoration: none;
    color: black;
    font-family: 'Spectral', serif;
    font-weight: 400; 
    font-size: 19px;
}

.footer_content {
    display: flex;
    justify-content: space-around;
    background-color: #e4e4e4;
    padding: 50px 10px 100px 10px;
}

.footer_content a {
    text-decoration: none;
    color: black;

    font-family: 'Spectral', serif;
    font-weight: 400; 
    font-size: 19px;
}

.first_column {
    display: grid;
    width: 15%;
}

.first_column h2{ 
    font-family: 'Spectral', serif;
    font-weight: 700; 
}

.second_column {
    display: grid;
    width: 15%;
}

.third_column {
    display: grid;
    width: 15%;
}

.third_column p {
    font-family: 'Spectral', serif;
    font-weight: 700; 
    font-size: 19px;
    margin-bottom: 0px; 
}

.fourth_column {
    display: grid;
    width: 15%; 
}

.fourth_column h2{ 
    font-family: 'Spectral', serif;
    font-weight: 700; 
    font-size: 19px;
    margin-bottom: 0px; 
}

.r_service{
    display: none;
}


@media screen and (max-width: 1200px) {


}

@media screen and (max-width: 800px) {

    .footer_content{
        display: grid;
        text-align: center;
    }

    .first_column {
        width: 100%;
        margin-bottom: 30px;
    }

    .second_column {
        width: 100%;
        line-height: 40px;
    }

    .location {
        display: none;
    }
    
    .third_column {
        display: none;
    }
    
    .fourth_column {
        display: none;
    }

    .r_service{
        display: block;
    }

}

@media screen and (max-width: 600px) {
    .title_of_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title_of_header h1{
        margin-left: 0px;
    }

    .baricon {
        display: block;
    }

    .bar_img {
        width: 60%;
    }

    .header_menu a {
        display: none;
    }

    .header_menu a.icon {
        float: right;
        display: block;
    }

    .header_menu {
        border-bottom: none ;
    }

}

    @media screen and (max-width: 600px) {
        .columns-11 {
            flex-direction: column;
            
        }

        

      }
