.head_of_header {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    padding-top: 10px;
}

.head_of_header p {
    margin: 0px;
    font-size: 19px;
    font-family: 'Spectral', serif;
    font-weight: 400;
}

.column_of_header {
    border-top: 3px solid black ;
    border-bottom: 3px solid black ;
    margin: 4px 10px 15px 10px;
}

.title_of_header {
    border-top: 15px solid black ;
    border-bottom: 15px solid black ;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}

.title_of_header h1 {
    margin: 25px;
    font-family: 'Spectral', serif;
    font-weight: 700;
}

.header_menu {
    border-bottom: 3px solid black ;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}

.header_menu a {
    text-decoration: none;  
    color: black;
    font-size: 19px;
    font-family: 'Spectral', serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.baricon {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(230, 230, 230);
    background-color: rgba(230, 230, 230, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.closebtn {
    position: absolute;
    top: 30px;
    left: 50px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 35px;
    color: #818181;
    display: block;
    padding: 20px 0px;
    transition: 0.3s;
}

.overlay p {
    font-size: 20px;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.s_title {
    background-color: #f5f5f5;
    padding: 181px 20px;
    margin: 20px 10px 25px 10px;
}

.s_title h1{
    font-family: 'Spectral', serif;
    font-weight: 700;
    text-align: center;
}

.p_title {
    margin: 10px;
    border-top: 6px solid black;
}

.p_title h1{
    font-family: 'Spectral', serif;
    font-weight: 700;
    text-align: center;

    padding: 100px;
}

.p_img {
    width: 100%;
    display: block;
    margin: auto;
}

.web_p {
    position: relative;

    display: flex;
    margin: 10px;
    margin-bottom: 200px;
}

.web_p_img {
    border-top: 5px solid black;
    border-right: 5px solid black;      
    width: 75%;
}

.web_p_content {
    position:sticky;
    top: 0;

    background-color: #f5f5f5;

    margin-left: -1%;
    padding: 40px;
    height: min-content;
}

.web_p_content h1 {
    font-family: 'Spectral', serif;
    font-weight: 700;
    padding-bottom: 10px;
}

.web_p_content p {
    font-family: 'Spectral', serif;
    font-weight: 400;
    font-size: 19px;
}

.web_p_content a {
    text-decoration: none;
    color: black;
    font-family: 'Spectral', serif;
    font-weight: 400;
    font-size: 19px;
}

.ecommerce_p {
    position: relative;

    display: flex;
    justify-content: end;
    margin: 10px;
    margin-bottom: 200px;
}

.ecommerce_p_img {
    border-top: 5px solid black;
    border-left: 5px solid black;
    width: 65%;
}

.ecommerce_p_content {
    position:sticky;
    top: 0;

    background-color: #f5f5f5;
    margin-right: -1%;
    padding: 40px;
    z-index: 5;

    height: min-content;
}

.ecommerce_p_content h1 {
    font-family: 'Spectral', serif;
    font-weight: 700;
    padding-bottom: 10px;
}

.ecommerce_p_content p {
    font-family: 'Spectral', serif;
    font-weight: 400;
    font-size: 19px;
}

.ecommerce_p_content a {
    text-decoration: none;
    color: black;
    font-family: 'Spectral', serif;
    font-weight: 400;
    font-size: 19px;
}

.maintain_p {
    position: relative;

    display: flex;
    margin: 10px;
    margin-bottom: 150px;
}

.maintain_p_img {
    border-top: 5px solid black;
    border-right: 5px solid black;
    width: 70%;
}

.maintain_p_content {
    position: sticky;
    top: 0;

    background-color: #f5f5f5;
    margin-left: -1%;
    padding: 40px;

    height: min-content;
}

.maintain_p_content h1 {
    font-family: 'Spectral', serif;
    font-weight: 700;
    padding-bottom: 10px;
}

.maintain_p_content p {
    font-family: 'Spectral', serif;
    font-weight: 400;
    font-size: 19px;
}

.maintain_p_content a {
    text-decoration: none;
    color: black;
    font-family: 'Spectral', serif;
    font-weight: 400;
    font-size: 19px;
}

.get_in_touch {
    border-top: 5px solid black;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 30px 10px;
}

.founder_intro {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    border-right: 5px solid black ;
}

.founder_content p {
    font-family: 'Spectral', serif;
    font-weight: 400; 
    font-size: 19px;
    text-align: justify;
    margin: 2% 10% 0% 5%;
}

.b_img {
    margin: 15px 20px 20px 40px;

}

.bacon_img {
    width: 100%;
    display: block;
    margin: auto;
}

.hi {
    margin: 25px 80px ;
    width: 100%;
    max-height: 300px;
}

.hi h1{
    font-family: 'Spectral', serif;
    font-weight: 700; 
    text-align: center;
}

.hi p{
    font-family: 'Spectral', serif;
    font-weight: 400; 
    font-size: 19px;
    text-align: justify;
}

.hi_button {
    width: 100%;
    height: 30%;
    background-color: black;
    font-family: 'Spectral', serif;
    font-weight: 400; 
    font-size: 19px;
    color: white;
    border: none;
}

.footer {
    margin: 10px;
    border-top: 15px solid black ;
}

.head_of_footer {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid black ;
    margin-top: 10px;
}

.head_of_footer p{ 
    font-family: 'Spectral', serif;
    font-weight: 400; 
    font-size: 19px;
    margin-bottom: 0px;
}

.head_of_footer a {
    text-decoration: none;
    color: black;
    font-family: 'Spectral', serif;
    font-weight: 400; 
    font-size: 19px;
}

.footer_content {
    display: flex;
    justify-content: space-around;
    background-color: #e4e4e4;
    padding: 50px 10px 100px 10px;
}

.footer_content a {
    text-decoration: none;
    color: black;

    font-family: 'Spectral', serif;
    font-weight: 400; 
    font-size: 19px;
}

.first_column {
    display: grid;
    width: 15%;
}

.first_column h2{ 
    font-family: 'Spectral', serif;
    font-weight: 700; 
}

.second_column {
    display: grid;
    width: 15%;
}

.third_column {
    display: grid;
    width: 15%;
}

.third_column p {
    font-family: 'Spectral', serif;
    font-weight: 700; 
    font-size: 19px;
    margin-bottom: 0px; 
}

.fourth_column {
    display: grid;
    width: 15%; 
}

.fourth_column h2{ 
    font-family: 'Spectral', serif;
    font-weight: 700; 
    font-size: 19px;
    margin-bottom: 0px; 
}

.r_service{
    display: none;
}

@media screen and (max-width: 1200px) {
    .hi {
        width: 200%;
    }

    .b_img {
        display: none;
    }

.hi_button {
    height: 20%;
}
}

@media screen and (max-width: 800px) {

    .footer_content{
        display: grid;
        text-align: center;
    }

    .first_column {
        width: 100%;
        margin-bottom: 30px;
    }

    .second_column {
        width: 100%;
        line-height: 40px;
    }

    .location {
        display: none;
    }
    
    .third_column {
        display: none;
    }
    
    .fourth_column {
        display: none;
    }

    .r_service{
        display: block;
    }



    .get_in_touch {
        display: grid;
        border-top: none;
    }

    .founder_intro {
        margin-bottom: 20px;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
    }

    .founder_content {
        margin-bottom: 20px;
    }

    .hi {
        margin-left: 0px;
        width: 99%;
    }

    .hi_button {
        height: 30%;
    }


    .web_p {
        display: grid;
    }
    .web_p_img {
        width: 100%;
        margin-bottom: 10px;
    }

    .eco_p_content {
        margin: 0px;
    }

    .ecommerce_p {
        display: grid;
    }
    .ecommerce_p_img {
        width: 100%;
        margin-top: 10px;
    }

    .ecommerce_p_content {
        margin: 0px;
        position: static;
    }

    .maintain_p {
        display: grid;
    }
    .maintain_p_img {
        width: 100%;
        margin-bottom: 10px;
    }

    .maintain_p_content {
        margin: 0px;
    }
}

@media screen and (max-width: 600px) {
    .title_of_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title_of_header h1{
        margin-left: 0px;
    }

    .baricon {
        display: block;
    }

    .bar_img {
        width: 55%;
    }

    .header_menu a {
        display: none;
    }

    .header_menu a.icon {
        float: right;
        display: block;
    }

    .header_menu {
        border-bottom: none ;
    }

    .hidden {
        display: block;
        max-width: 55%;
        margin: auto;
    }

}